.Search-Results-Container {
  display: flex;
  width: 100%;
  @media screen and (max-width: $first-break) {
    flex-direction: column;
    position: fixed;
    left: 0;
    background-image: $gradient-up;
    height: 50vh;
    overflow-y: scroll;
  }
}

.result-column {
  width: 100%;
}

.result-section {
  width: 33%;
  @media screen and (max-width: $first-break) {
    width: 100%;
  }
}

.result-header {
  font-size: 2rem;
}

.search-result {
  width: 100%;
  display: flex;
  padding: 10px;
  .result-image {
    width: 50px;
    height: 50px;
    background-size: cover;
    &:hover {
      .Play-Widget {
        opacity: 100;
      }
    }
  }
}

.result-text {
  display: flex;
  flex-direction: column;
  height: 50px;
  justify-content: space-evenly;
  margin-left: 10px;
  .result-artist,
  .result-title {
    color: white;
    text-decoration: none;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
}
