.Library {
  min-height: 100%;
  background-image: $gradient-up;
  padding: 25px 0 25px 25px;
  @include spotify-scrollbar;
  .library-content-hold {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
}

.Library-Album {
  padding: 25px;
  width: 250px;
  @media screen and (max-width: $first-break) {
    display: flex;
    padding: 0;
    max-height: 75px;
    width: 100vw;
    margin-bottom: 15px;
  }
  .library-album-art {
    height: 200px;
    width: 200px;
    @media screen and (max-width: $first-break) {
      max-height: 75px;
      max-width: 75px;
    }
    background-size: cover;
    &:hover {
      .Play-Widget {
        opacity: 100;
      }
    }
  }
  .library-album-text-hold {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @media screen and (max-width: $first-break) {
      padding-left: 5px;
      justify-content: center;
    }
    .library-album-album {
      @include link-cleanup;
      padding: 6px 0;
      font-size: 1rem;
      word-wrap: break-word;
    }
    .library-album-artist {
      @include link-cleanup;
      padding: 5px 0;
      color: grey;
    }
  }
}

.Library-Artists {
  .library-artists-hold {
    display: flex;
    flex-wrap: wrap;
  }
}

.Library-Artist {
  @media screen and (max-width: $first-break) {
    display: flex;
  }
  .top-artist-result {
    @media screen and (max-width: $first-break) {
      height: 100px;
      width: 100px;
    }
  }
  .result-details {
    @media screen and (max-width: $first-break) {
      display: flex;
      align-items: flex-start;
      justify-content: flex-end;
      text-align: left;
      padding-left: 15px;
      font-size: 1.5rem;
    }
  }
}
