.Playlist {
  background-image: $gradient-up;
  min-height: 100%;
  width: 100%;
  padding: 25px 0 25px 25px;
  .playlist-info {
    display: flex;
    width: 100%;
    height: 250px;
    @media screen and (max-width: $first-break) {
      height: 100px;
    }
    .playlist-info-image {
      height: 250px;
      width: 250px;
      @media screen and (max-width: $first-break) {
        height: 100px;
        width: 100px;
      }
      background-size: cover;
      &:hover {
        .Play-Widget {
          opacity: 100;
        }
      }
    }
    .playlist-info-text {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      color: white;
      flex: 1;
      padding: 0 0 15px 15px;
      .playlist-info-top {
        .playlist-info-title {
          font-size: 2.5rem;
          font-weight: 700;
          @media screen and (max-width: $first-break) {
            font-size: 1.2rem;
          }
        }
      }
    }
  }
  .playlist-tracks-header {
    margin-top: 10px;
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
    width: 80%;
    border-bottom: white 1px solid;
    padding-bottom: 5px;
    color: white;
    @media screen and (max-width: $first-break) {
      width: 95%;
      position: sticky;
      top: 0;
      background-image: $gradient-up;
    }
    .playlist-tracks-header-left {
      display: flex;
      flex: 1;
      .album-art-hold {
        width: 50px;
      }
      .playlist-tracks-header-icon-hold {
        width: 32.2%;
        display: flex;
        justify-content: flex-start;
      }
    }
    .playlist-tracks-header-time-hold {
      min-width: 35px;
      display: flex;
      justify-content: flex-end;
    }
  }
  .playlist-tracks-hold {
    width: 80%;
    @media screen and (max-width: $first-break) {
      width: 95%;
    }
  }
}

.Playlist-Track {
  display: flex;
  margin-top: 10px;
  align-items: center;
  color: white;
  justify-content: space-between;
  &:hover {
    background: rgb(25, 25, 25);
    .playlist-track-number-number {
      opacity: 0;
    }
  }
  .playlist-track-left-side {
    display: flex;
    align-items: center;
    flex: 1;
    .playlist-track-album-art {
      height: 50px;
      width: 50px;
      background-size: cover;
      &:hover {
        .Play-Widget {
          opacity: 100;
        }
      }
    }
    .playlist-track-track-info {
      padding-left: 15px;
      display: flex;
      flex: 1;
      @media screen and (max-width: $first-break) {
        align-items: center;
        text-align: left;
        font-size: 0.8rem;
      }
      .playlist-track-track-name {
        width: 33%;
      }
      .playlist-track-artist {
        width: 33%;
        @include link-cleanup;
      }
      .playlist-track-album {
        width: 33%;
        @include link-cleanup;
        @media screen and (max-width: $first-break) {
        }
      }
    }
  }
}
