.Header {
  width: 100vw;
  height: $header-height;
  background-image: $gradient-down;
  color: white;
  display: flex;
  align-items: center;
  padding-left: $sidebar-width;
  justify-content: space-between;
  padding-right: 10px;
  @media screen and (max-width: $first-break) {
    justify-content: flex-end;
    flex-direction: row-reverse;
    padding-left: 0;
  }
  input {
    border-radius: 10px;
    width: 200px;
    padding: 10px;
  }
}

.search-container-hold {
  width: calc(100vw - #{$sidebar-width});
  background-image: $gradient-up;
  position: absolute;
  top: $header-height;
  left: $sidebar-width;
  color: white;
  z-index: 10;
}

.User-Details {
  display: flex;
  height: 100%;
  align-items: center;
  .user-name {
    color: white;
    font-size: 1.2rem;
    padding-right: 10px;
    @media screen and (max-width: $first-break) {
      display: none;
    }
  }
  .profile-picture {
    max-height: 80%;
    width: auto;
    border-radius: 50px;
    @media screen and (max-width: $first-break) {
      margin: 0 15px;
    }
  }
}
