.Header {
  width: 100vw;
  height: $header-height;
  background-image: $gradient-down;
  color: white;
  display: flex;
  align-items: center;
  padding-left: $sidebar-width;
  input {
    border-radius: 10px;
    width: 200px;
  }
}

.search-container-hold {
  width: calc(100vw - #{$sidebar-width});
  background-image: $gradient-up;
  position: absolute;
  top: $header-height;
  left: $sidebar-width;
  color: white;
  z-index: 10;
}
