.Spotify-Loading {
  min-height: 100%;
  background-image: $gradient-up;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Spotify-Loading-Transparent {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
