.Dashboard {
  min-height: 100%;
  background-image: $gradient-up;
  padding: 25px 0 25px 25px;
  @include spotify-scrollbar;
  .dashboard-section {
    height: 375px;
    .dashboard-section-label {
      height: 50px;
      display: flex;
      align-items: center;
      color: white;
      font-size: 1.5rem;
    }
    .dashboard-section-results {
      height: 325px;
      overflow-x: scroll;
      overflow-y: hidden;
      display: flex;
      .result-hold {
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-width: 200px;
        height: 100%;
        margin-right: 50px;
        .result {
          width: 200px;
          height: 200px;
          background-size: 100%;
          background-position: center;
          &:hover {
            .Play-Widget {
              opacity: 100;
            }
          }
        }
        .top-artist-result {
          border-radius: 200px;
        }
        .result-details {
          height: 75px;
          color: white;
          text-align: center;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          .result-details-text {
            color: white;
            width: 200px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            text-decoration: none;
            padding: 2px;
            &:hover {
              text-decoration: underline;
            }
          }
          .result-details-artist {
            @extend .result-details-text;
            color: grey !important;
          }
        }
      }
    }
  }
}
