.Player {
  width: 100vw;
  height: 100px;
  position: relative;
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  .album-art {
    height: 100%;
    width: auto;
  }
}
