@import './reset.scss';
@import './variables.scss';
@import './Components/Player/Player';
@import './Components/Header/Header';
@import './Components/SearchResults/SearchResults';
@import './Components/Dashboard/Dashboard';
@import './Components/Sidebar/Sidebar';
@import './Components/PlayWidget/PlayWidget';

* {
  @include spotify-scrollbar;
}

.app-children {
  max-height: calc(100vh - #{$height-offset});
  width: calc(100vw - #{$width-offset});
  left: $sidebar-width;
  top: $header-height;
  position: fixed;
  overflow-y: scroll;
}
