@import './reset.css';
@import './variables.scss';
@import './Components/Player/Player';
@import './Components/Header/Header';
@import './Components/SearchResults/SearchResults';
@import './Components/Dashboard/Dashboard';
@import './Components/Sidebar/Sidebar';
@import './Components/PlayWidget/PlayWidget';
@import './Components/Artist/Artist';
@import './Components/Loading/Loading';
@import './Components/Album/Album';
@import './Components/Login/Login';
@import './Components/Playlist/Playlist';
@import './Components/Library/Library';
@import './Components/Navigation/SpotifyNav';
@import './Components/Slack/Main/SlackMain';

* {
  @include spotify-scrollbar;
}

.app-children {
  height: calc(100vh - #{$height-offset});
  width: calc(100vw - #{$width-offset});
  left: $sidebar-width;
  top: $header-height;
  position: fixed;
  overflow-y: scroll;
  @media screen and (max-width: $first-break) {
    left: 0;
    width: 100vw;
  }
}
